{{>head}}

<body>

    <div class="wrapper d-flex flex-column justify-center align-center">

        <h1 class="mb-2 bolder text-primary">Weather Forecast</h1>

        <input type="search" id="city" class="form-control" placeholder="Enter name of the city..." />

        <div class="notice p-1 mt-2 round text-center" id="notice"
            style="display:none; {{#if error}} display: block; {{/if}}">
            {{error}}
        </div>

        <div class="weather d-flex justify-space-between align-center py-2 px-3 mt-2 round" style=" {{#if error}} display: none; {{/if}}" id="weather">

            <div class="d-flex flex-column self-end justify-right text-center">
                <p class="bold text-primary">Forecast</p>
                <p class="text-white font-sm" id="location">Houston, TX</p>
                <h2 class="text-primary mt-half">
                    <span class="bolder" id="temperature">{{temperature}}</span><span>&#8451;</span>
                </h2>
            </div>

            <div class="d-flex flex-column text-center">
                <p class="text-uppercase text-white font-sm" id="summary">{{summary}}</p>

                <small class="font-sm text-white mt-half">
                    <span>Wind Speed:</span>
                    <span class="bold" id="windSpeed">{{windSpeed}}<span></small>

                <small class="font-sm text-white mt-half">
                    <span>Humidity:</span>
                    <span class="bold" id="humidity">{{humidity}}<span></small>
            </div>

            <div class="placeholder">
                <div class="placeholder__content round">
                    <div class="placeholder__item loader loading-background"></div>
                    <div class="placeholder__item loader loading-background"></div>
                    <div class="placeholder__item"></div>
                    <div class="placeholder__item"></div>
                    <div class="placeholder__item loader loading-background"></div>
                    <div class="placeholder__item"></div>
                    <div class="placeholder__item loader loading-background"></div>
                    <div class="placeholder__item"></div>
                    <div class="placeholder__item loader loading-background"></div>
                    <div class="placeholder__item"></div>
                    <div class="placeholder__item loader loading-background"></div>
                </div>
            </div>

        </div>

        <small class="mt-2 text-white font-sm">Built by: <a target="_blank" href="https://omidhabedy.me">Omid
                Habedy</a></small>

        <small class="text-white  font-sm">
            Powered by <a target="_blank" href="https://nodejs.org/en/">nodejs</a> and <a target="_blank"
                href="https://expressjs.com/">expressjs</a>
        </small>

    </div>

    {{>footer}}

</body>

</html>